<div class="card">
  <h1>感情一覧</h1>
  <div>
    <%= link_to '新規作成', new_emotion_path, class: "btn btn-primary mb-2" %>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <table class="table table-striped table-hover">
        <thead class="thead-light">
          <tr class="text-center">
            <th>No.</th>
            <th>感情名</th>
            <th>感情内容</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @emotions.each do |emotion| %>
          <tr>
            <td><%= emotion.id %></td>
            <td><%= link_to emotion.emotion_name, emotion_path(emotion) %></td>
            <td><%= emotion.emotion_comment%></td>
            <td class="text-center"><%= link_to '編集', edit_emotion_path(emotion),class: "btn btn-success mr-2" %>
              <%= link_to '削除', emotion_path(emotion), method: :delete, data: { confirm: "「#{emotion.emotion_name}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>